/*! -------------------------- Gestion des varriables -------------------------- */

:root{
--couleur-fond-body: #2f2f2f;
}
  /*! ************************************************************************** */


/*! -------------------------------- Petit RESET ------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*! ************************************************************************** */
  
  /*! ------------------------ Configuration de la page ------------------------ */

  html {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 70px;
    font-weight: 700;
    user-select: none;
    background: #fff;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--couleur-fond-body);
  }
    /*! ************************************************************************** */
